.vote
  =link_to 'Like', polymorphic_path(resource, action: :like), method: :patch, data: { type: :json}, remote: true, class: 'btn btn-sm btn-outline-primary mt-2'
  =link_to 'Dislike', polymorphic_path(resource, action: :dislike), method: :patch, data: { type: :json}, remote: true, class: 'btn btn-sm btn-outline-primary mt-2'
td.rating id= "rating-#{resource.class.name.downcase}-#{resource.id}" = resource.rating 
