- if current_user&.subscribed?(resource)
  = link_to 'Unsubscribe', subscription_path(@subscription.id), method: :delete, remote: true, class: 'btn btn-sm btn-outline-primary mt-2'
- elsif current_user
  = link_to 'Subscribe', question_subscriptions_path(resource), method: :post, remote: true, class: 'btn btn-sm btn-outline-primary mt-2'
